<a href="https://colab.research.google.com/github/chanseongparkk/BigDataAnalyst_practise/blob/main/%EA%B8%B0%EC%B6%9C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd drive/My Drive/빅데이터분석기사 실기/기출2

/content/drive/My Drive/빅데이터분석기사 실기

In [ ]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("기출2Train.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Reached.on.Time_Y.N', id_name='ID')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

# id열 삭제
X_train = X_train.drop(["ID"],axis = 1)
X_test = X_test.drop(["ID"],axis = 1)
y_train = y_train.drop(["ID"],axis = 1)
y_test = y_test.drop(["ID"],axis=1)

# 결측치 x
X_train.isna().sum(axis = 0)
X_test.isna().sum(axis = 0)

# 변환 필요한 데이터 로그변환

print(X_train.skew(), X_train.kurt())
X_train.iloc[:,[5,8,9]] = np.log1p(X_train.iloc[:,[5,8,9]])
X_test.iloc[:,[5,8,9]] = np.log1p(X_test.iloc[:,[5,8,9]])
print(X_train.skew(), X_train.kurt())

# 수치형 데이터 정규화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
xtrs = X_train.iloc[:,[2,3,4,5,8,9]]
xtes = X_test.iloc[:,[2,3,4,5,8,9]]
xtrscaled = pd.DataFrame(scaler.fit_transform(xtrs),columns = xtrs.columns)
xtrscaled.index = X_train.index
xtescaled = pd.DataFrame(scaler.transform(xtes),columns = xtes.columns)
xtescaled.index = X_test.index
X_train = pd.concat([xtrscaled,X_train.iloc[:,[0,1,6,7]]],axis = 1)
X_test = pd.concat([xtescaled,X_test.iloc[:,[0,1,6,7]]],axis = 1)


# 더미변수 생성(개체-1)

X_train = pd.get_dummies(X_train,drop_first = True)
X_test = pd.get_dummies(X_test,drop_first = True)

# 모델링(RandomForestClassifier)

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
rf = RandomForestClassifier(n_estimators = 200 ,max_depth = 7, random_state = 999)
rf.fit(X_train,y_train)
print(rf.score(X_train,y_train),"\n",roc_auc_score(y_train,rf.predict(X_train)))

# 모델링 (XGBClassifier)

xgb = XGBClassifier(n_estimators = 200, max_depth = 7, random_state = 999)
xgb.fit(X_train, y_train)
print(xgb.score(X_train,y_train),"\n", roc_auc_score(y_train,xgb.predict(X_train)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Customer_care_calls    0.394936
Customer_rating        0.005080
Cost_of_the_Product   -0.148334
Prior_purchases        1.696306
Discount_offered       1.761769
Weight_in_gms         -0.233498
dtype: float64 Customer_care_calls   -0.295260
Customer_rating       -1.292877
Cost_of_the_Product   -0.988210
Prior_purchases        4.088866
Discount_offered       1.848658
Weight_in_gms         -1.454570
dtype: float64
Customer_care_calls    0.394936
Customer_rating        0.005080
Cost_of_the_Product   -0.148334
Prior_purchases        0.672649
Discount_offered       0.516005
Weight_in_gms         -0.613690
dtype: float64 Customer_care_calls   -0.295260
Customer_rating       -1.292877
Cost_of_the_Product   -0.988210
Prior_purchases        0.342968
Discount_offered      -0.448774
Weight_in_gms         -1.141537
dtype: float64
0.7232640072735538
 0.7619235891504642

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9066939424934651
 0.9158828285673615

In [ ]:
X_train

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M
3999,-0.920381,0.713134,-1.587321,-0.290581,-0.263839,1.051677,1,0,0,0,0,1,0,0,0
9559,-0.043832,0.004750,-0.773708,-0.290581,-0.428059,0.937929,0,0,0,1,0,1,0,1,1
2649,-1.796930,-1.412018,-0.377332,-0.290581,1.764786,0.025814,1,0,0,0,0,1,0,0,1
4843,1.709265,1.421518,1.541960,0.466449,0.003892,0.942969,0,0,0,1,0,1,0,1,1
9601,-0.920381,-1.412018,0.749209,-0.290581,0.217670,0.714626,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,1.709265,1.421518,-0.669399,-0.290581,-0.428059,0.465229,0,1,0,0,0,1,1,0,0
2669,-0.920381,-1.412018,-0.085266,-1.266563,1.970290,-0.759630,0,0,0,1,0,1,0,1,0
1152,-0.043832,-1.412018,-1.566459,3.141345,1.480741,-0.830343,0,0,1,0,0,1,0,1,1
6201,-0.043832,0.713134,0.853518,-1.266563,-0.263839,0.583835,1,0,0,0,0,1,0,1,0
9332,1.709265,0.713134,-1.378702,0.466449,-0.428059,0.685428,0,0,0,0,0,0,1,0,0

In [ ]:
print(roc_auc_score(y_test,rf.predict(X_test)))
print(roc_auc_score(y_test,xgb.predict(X_test)))

0.7036022302790595
0.661499533069655

In [ ]:
print(roc_auc_score(y_test,rf.predict(X_test)))
print(roc_auc_score(y_test,xgb.predict(X_test)))

0.7052158866183257
0.6492048450889915